.lead-polka {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 984px;
  margin: 0 auto 0 auto;
}

@media screen and (max-width: 1279px) {
  .lead-polka {
    max-width: 928px;
  }
}

