.cover__link {
  text-decoration: none;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.cover__link::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  padding-top: 62.5%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
